<h2><%= @post.title %></h2>
<p><%= @post.content %></p>

	<section><h4>Categories:
		<% @post.categories.each do |category| %>
			<%= link_to category.name, category %>
			<br />
			<% end %></h4>
	<section>


	<section><h4>Comments:</h4>
		<ul>
			<% @post.comments.each do |comment| %>

			<p><%= comment.user.username %> says: <%= comment.content %></p>
			<% end %>
		</ul>
	</section>


	<section><h4>Here's who has commented on this post:</h4>
		<ul><% @post.users.uniq.each do |user| %>

			<li><%= link_to user.username, user_path(user) %></li>
		<% end %>
		</ul>
	</section>


	<section><h3>Add a New Comment </h3>
		<%= form_for @post.comments.build do |f|  %>
			<%= f.label :content, "Your comment:" %><br />
			<%= f.text_area :content %>
			<br />
			<%= f.label :user_id, "Returning User" %>
			<%= f.collection_select :user_id, User.all, :id, :username %>
			<%= f.hidden_field :post_id %>

				<%= f.fields_for :user, @post.comments.last.build_user do |user_fields| %>
				<%= user_fields.label :username, "New user" %>
				<%= user_fields.text_field :username  %>
				<% end %>
				<br />
			<%= f.submit %>
		<% end %>
		<br />
	</section>
